body{

    justify-content: center;
    background-color:black;
}
/*referred from codepen*/
.glow-on-hover {
    margin: 30px;
    width: 80px;
    height: 60px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(70deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 600%;
    z-index: -1;
    filter:brightness(200%);
    filter:blur(20px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #ffbf00
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

h1{
    font-family: "alta-california", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color:orange;
    margin-bottom:0px;
    margin-top: -70px;

}

p{
    font-family:'Courier New', Courier, monospace;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    color: white;
    margin-top: 40px;
}

h2{
    font-family: "lores-12";
    font-weight: 200;
    font-style: normal;
    font-size: 70px;
    color: white;
    margin-bottom: 50px;
    margin-top:50px;
}
.content{
    animation: fadeIn 5s;
}
@keyframes fadeIn{
    0% {opacity:0;}
    100%{opacity:1;}
}

/*referred to https://youtu.be/N5M_A-HrpU4?si=ko-NyIOtinppcqPg for the popup! */
a.popuptext{
    position: relative;
    z-index:20;
    color:#ffffff
}

a.popuptext:hover{
    z-index:30;
}
a.popuptext span.showDisplayOnHover{
    display:none
}

a.popuptext:hover span.showDisplayOnHover{
    display: block;
    position:absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    line: height 50px;
    top:50px;
    Left: 50px;
    width: auto;
    padding:100px;
    border: none;
    border-radius:20px;
 background-color: #ffbf00;
 opacity:90%;
 color:#ffffff
 text-align: center;
}
.typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    white-space: nowrap;

animation: 
typing 3.5s steps(30, end),
blink-caret .5s step-end infinite;

}
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }


/* .container {
width:50%;
background: #ffd3d3;
margin: 380px auto;
position: relative;
padding: 20px 40px;
border-radius:40px;
box-sizing: border-box;
box-shadow: 0 10px 20px rgba(255, 255, 255, 0.5);
}

.loading {
    position:relative;
    display: inline-block;
    width: 100%
    height: 10px;
    background: #f1f1f1;
    border-radius: 4px;
    box-shadow:inset 0 0 5px rgba(0,0,0,.2);
    overflow: hidden;
}

.loading:after {
    content:'';
    position:absolute;
    left:0;
    width:0%;
    height:100%;
    border-radius: 4px;
    box-shadow:inset 0 0 5px rgba(0,0,0,.2);
    animation: load infinite 5s;
}
@keyframes load {
    0%
    {
        width:0;
        background: #f00;
    }
    50%
    {
        width:70%;
        background: rgb(255, 132, 0);
    }
    100%
    {
        width:100%;
        background: rgb(255, 0, 162);
    }
} */
