/* I took a lot of references from W3, youtube and css-tricks.com ! Couldn't have d=finished it without it! */

body {
    background-color: #d9ffda;
    background-image:  linear-gradient(135deg, #ff96d2 25%, transparent 25%), linear-gradient(225deg, #ff96d2 25%, transparent 25%), linear-gradient(45deg, #ff96d2 25%, transparent 25%), linear-gradient(315deg, #ff96d2 25%, #d9ffda 25%);
    background-position:  8px 0, 8px 0, 0 0, 0 0;
    background-size: 8px 8px;
    background-repeat: repeat;

}
h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5 px;

}

.floatingletters{
    font-family: "lores-12";
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    color: #ff1361;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(190, 255, 168); /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    white-space: nowrap;

animation: 
typing 3.5s steps(30, end);
blink-caret .5s step-end infinite;

}
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(190, 255, 168) }
  }

p {
    font-family:Arial, Helvetica, sans-serif;
    color: gold;
}
.box{
    float: left;
    padding-left:30px;
    text-align: right;
    margin-left:30px;
    margin-top: 10px;
}
.practice{
    font-family: 'Courier New', Courier, monospace;
    float:left;
    font-size: 70px;
    text-align: center;
    margin-top: -200px;
    margin-left: 55px;
    padding:20px;
    background-image: linear-gradient(
    -225deg,
    #3cb371 0%,
    #ffa500 25%,
    #ff1361 67%,
    #fff800 100%
    );
    background-size:auto auto;
    background clip: border-box;
    background-size:200% auto;
    background-clip: text;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.thisstothat{
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    border:black;
    border-style:solid;
    border-width:4px;
    border-radius: 2px;
    background-color: white;
    inline-size: 500px;
    float:left;
    margin-left:40px;
    margin-top:50px;
}

.archive{
    border:none;
    background-color:transparent;
    float:left;
    margin-left:20px;
    margin-top:100px;
    margin-right:30px;
}

.title-word {
    font-family:"lores-12";
    font-size: 300 px;
    animation: color-animation 4s linear infinite;
    float:left;
   padding: 10px;
    border:#ff1361;
    background-color: rgb(255, 255, 255);
    border-style:hidden;

}

.title-word-1 {
    --color-1:hsl(237, 100%, 81%);
    --color-2:#91ffc2;
    --color-3:#ff9df4; 
    --color-4: rgb(169, 236, 255);
}

.title-word-2 {
    --color-1: rgb(145, 98, 255);
    --color-2: orange;
    --color-3:rgb(255, 99, 99);
    --color-4: rgb(242, 255, 158);
}


@keyframes color-animation {
    0%         {color:var(--color-1)}
    12%        {color:var(--color-2)}
    49%         {color:var(--color-3)}
    78%         {color:var(--color-3)}
    92%         {color:var(--color2)}
    100%        {color:var(--color-1)}
}
.power{
    font-family: "lores-12";
    font-size: 30px;
    color: rgb(255, 239, 135); 
    font-weight: 100px;
    margin-right: 30px; 
    text-align:left;
    background-color:#e60054; 
    border-color: rgb(255, 239, 135);
    border-style: dotted;
    border-radius: 30px;
    inline-size: 400px;
    border-width:6px ;
    overflow-wrap: break-word;
    opacity:100%;
    float: right;
    position:absolute;
    margin-left:960px;
    margin-top:530px;
    padding:30px;
  }
  .cat{
    float:left;
    margin-left:20px;
    margin-top:50px;
}
.chicken{
    float:left;
    margin-left:30px;
    margin-top:-1300px;
}
.motivation{
    color:#ff1361;
    float:left;
    margin-left: 100px;
    border:#ff1361;
    background-color:rgb(255, 255, 173);
    border-radius: 20px;
    padding-left:15px;
    padding-right:15px;
    margin-top:-200px;
}
.motivation span {
    position: relative;
    display: inline-block;
    animation: flip 5s infinite;
    animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
    0%, 20%, 60% {
        transform: rotateY(360deg)
    }
}
.images{
    float:left;
    margin-left:100px;
    margin-top:300px;
}
.tape{
    float:left;
    margin-left:-600px;
    margin-top:300px;
}

.paper{
    float:right;
    margin-right:80px;
    margin-top:290px;
}
.sticker{
    float:left;
    margin-left: 1000px;
    margin-top:-900px;
}
.notes{
    font-family: "lores-12";
    font-size: 40px;
    color:#ff1361; 
    margin-right:200px;
    margin-top:-300px;
}

.text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color:#ff1361;
    float:right;
    text-align:left;
    margin-right:200px;
    margin-top:-450px;
    inline-size: 600px;
}
.typewriter h2 {
    color: #ff007b;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4.5s steps(30, end),
      blink-caret 1.5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
