html{
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
    opacity: 1;
    background-image: radial-gradient(#fa8f8f 0.65px, #000000 0.65px);
    background-size: 13px 13px;
}
h1{

    font-family: "lores-12";
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    color: #fa8f8f;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:20px;
    width: 100%;
}

.title{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(190, 255, 168); /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    white-space: nowrap;

animation: 
typing 3.5s steps(30, end);
blink-caret .5s step-end infinite;

}
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(190, 255, 168) }
  }

  .intro{
    margin-left:70px;
    position:absolute;
    margin-top:200px;
    border:none;
    background: none;
}
.intro .activated {
    display: none;
    position: absolute;
    scale: 100%;
    top: -50px;
    left: 200px;
    z-index: 99;
}
.intro:hover .activated{
    display: inline;

}
.intro {animation: shaking 0.5s infinite;}
@keyframes shaking {
   0% {transform: rotate(0deg);}
   20% {transform: rotate(-4deg);}
   50% {transform: rotate(0deg);}
   70% {transform: rotate(4deg);}
   100% {transform: rotate(0deg);}
 }
 .intro:hover {
animation-play-state: paused;
 }



.flipbook {
    position:absolute;
    margin-top:1200px;
    margin-left: 250px;
    margin-bottom:-1500px;
}

.subtitle{
    position:absolute;
    margin-top:1550px;
    margin-left: 600px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
}
.vid1{
    position:absolute;
    margin-top:1300px;
    margin-left:950px;
}
.vid1:hover {animation: zoom 1s ;}
@keyframes zoom {
    0% {transform: scale(100%);}
    100% {transform: scale(50%);}
}
.vid2{
    position:absolute;
    margin-top:1400px;
    margin-left:50px;
}
.vid2:hover {animation: zoom 1s ;}
@keyframes zoom {
    0% {transform: scale(100%);}
    100% {transform: scale(50%);}
}
.vid3{
    position:absolute;
    margin-top:1750px;
    margin-left:700px;
}
.vid3:hover {animation: zoom 1s ;}
@keyframes zoom {
    0% {transform: scale(100%);}
    100% {transform: scale(50%);}
}
.vid4{
    position:absolute;
    margin-top:1800px;
    margin-left:-30px;
}
.vid4:hover {animation: zoom 1s ;}
@keyframes zoom {
    0% {transform: scale(30%);}
    100% {transform: scale(100%);}
}
.vid5{
    position:absolute;
    margin-top:2100px;
    margin-left:250px;
}
.vid5:hover {animation: zoom 1s ;}
@keyframes zoom {
    0% {transform: scale(100%);}
    100% {transform: scale(50%);}
}
.me2{
    margin-left:1070px;
    position:absolute;
    margin-top:2700px;
    margin-bottom:100px;
    border:none;
    background:transparent;
}

.me2 .activated {
    display:block;
    position: absolute;
    scale: 100%;
    top: -100px;
    left: -900px;
    z-index: 99;
}
.me2:hover .activated{
    display: inline;

}
.me2 {animation: shaking 0.5s infinite;}
@keyframes shaking {
   0% {transform: rotate(0deg);}
   20% {transform: rotate(-4deg);}
   50% {transform: rotate(0deg);}
   70% {transform: rotate(4deg);}
   100% {transform: rotate(0deg);}
 }
 .me2:hover:hover {
animation-play-state: paused;
 }

 .transition {
    opacity: 0%;
    transition: all .5s ease
    }

.transition_active{
    opacity: 100%;
    transition: all .5s ease   
}

@media (max-width: 650px) {
    h1 {
      font-size: 2rem;
    }
    .intro{
        scale: 40%;
        margin-top:10px;
        margin-left: -70px;
    }   
    .flipbook{
        margin-top: 500px;
        margin-left: 50px;
        width: 40%; height:70%;
    }
    .subtitle{
        margin-left: 80px;
        margin-top: 890px;
        font-size: 15px;
    }
    .vid1{
        scale: 20%;
        margin-left: 10px;
        margin-top: 890px;
    }
    .vid2{
        scale: 10%;
        margin-left: -200px;
        margin-top: 1100px;
    }
    .vid3{
        scale: 10%;
        margin-left: 10px;
        margin-top: 1400px;
    }
    .vid4{
        scale: 10%;
        margin-left: -200px;
        margin-top: 1700px;
    }
    .vid5{
        scale: 10%;
        margin-left: 10px;
        margin-top: 1900px;
    }
    .me2 {
        scale: 40%;
        margin-left: 320px;
        margin-top: 2400px;
    }
}
.home{
    background:#e60054;
    border:dotted;
    font-family:"lores-12"
}