html{
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
    background-image: radial-gradient(#ff0006 0.75px, #000000 0.75px);
    background-size: 15px 15px;
}
h1{
  justify-content: center;
  font-family: "lores-12";
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
  color: #ff0000;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left:20px;
  width: 100%;
}
.title{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(190, 255, 168); /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    white-space: nowrap;

animation: 
typing 3.5s steps(30, end);
blink-caret .5s step-end infinite;

}
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(190, 255, 168) }
  }
#video{
    position:absolute;
    margin-top:125px;
    margin-left:-650px;
    }
#thumbnail {
    position:absolute;
    margin-top:75px;
    margin-left:50px;  
}
#dropdown{
    margin-left:100px;
    position:absolute;
    margin-top:130px;
    border:none;
    background: none;
}
#dropdown {animation: zoom 0.5s infinite;}
@keyframes zoom {
   0% {transform: scale(10%);}
   50% {transform: scale(20%);}
   100% {transform: scale(10%);}
 }
#dropdown:hover {
animation-play-state: paused;
 }

 .heist {
    overflow: hidden;
    font-family: "lores-12";
    color: rgb(255, 255, 255);
    font-size:30px;
    display: flex;
    align-items: center;
    width: 600px;
    height: 600px;
    margin-top:-700px;
    margin-left:750px;
    perspective: 800px; 
    border:none;
    background: none;
  
  }
  
  .description:hover {
    transform: rotateY(180deg); 
    cursor: pointer;
  }
  
  .description {
    height: 70%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    inline-size: 600px;
  }

  .front,
  .back {
    height: 80%;
    width: 100%;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    border-radius: 2rem;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .front{
    border-radius: 2rem;
    scale:100%;
  }
  
  .back {
    height:400px;
    background:none;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
.title1{
    position:absolute;
    margin-left:650px;  
}

.loic{
    position:absolute;
    margin-top:400px;
    margin-left:300px;  
}

.dog{
    position:absolute;
    margin-top:-60px;
    margin-left:100px;  
}
.mic{
    position:absolute;
    margin-top:-500px;
    margin-left:400px;
}
.xiaoma{
    position:absolute;
    margin-top:200px;
    margin-left:-100px;  
}
.title2{
    position:absolute;
    margin-top:1000px;
    margin-left:-300px;   
}
.book{
    position:absolute;
    margin-top:1200px;
    margin-left:-100px;   
}
.brain{
    position:absolute;
    margin-top:1200px;
    margin-left:500px;   
}
.cody{
    position:absolute;
    margin-top:1400px;
    margin-left:1000px;   
}
.steve{
    position:absolute;
    margin-top:1400px;
    margin-left:10px;   
}

.title3{
    position:absolute;
    margin-left:-200px;  
    margin-top: 2100px;
}
.ribbon1{
    position:absolute;
    margin-top:2000px;
    margin-left:690px;   
}
.ribbon1 {animation: zoom 0.5s infinite;}
@keyframes zoom {
   0% {transform: scale(100%);}
   50% {transform: scale(80%);}
   100% {transform: scale(100%);}
 }
 .heart{
    position:absolute;
    margin-top:2000px;
    margin-left:690px;   
}
.heart {animation: zoom 0.5s infinite;}
@keyframes zoom {
   0% {transform: scale(100%);}
   50% {transform: scale(80%);}
   100% {transform: scale(100%);}
 }


/* #popup1 {
    position: absolute;
    z-index: 9;
    background:none;
    cursor:move;
} */

/* .transition {
    opacity: 0%;
    transition: all .5s ease
    }

.transition_active{
    opacity: 100%;
    transition: all .5s ease   
}
 */