body {
    background-color: #ffffff;
    background-image:  linear-gradient(#ffced4 1px, transparent 1px), linear-gradient(to right, #ffced4 1px, #ffffff 1px);
    background-size: 20px 20px;
    /*credit for pattern: https://www.magicpattern.design/tools/css-backgrounds */
    align-items: center;
}

h1{
    font-family: "lores-12";
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    color: rgb(255, 74, 74);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:20px
}

.title{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    white-space: nowrap;

animation: 
typing 3.5s steps(30, end),
blink-caret .5s step-end infinite;

}
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
.introduction {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 500px;
    margin-left: 30px;
    padding:40px;
    border:#ff5b5b;
    border-style: solid;
    border-radius: 30px;
    inline-size: 1000px;
    border-width:10px ;
    overflow-wrap: break-word;
    opacity:100%;
    float: left;
}
.image{
    float: left;
    padding-left:30px;
    text-align: right;
    margin-right: 20px;
}
.history{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 500px;
    margin-right: 30px;
    margin-top: 20px;
    padding:40px;
    text-align:right;
    border:#ff5b5b;
    border-style: solid;
    border-radius: 30px;
    inline-size: 800px;
    border-width:10px ;
    overflow-wrap: break-word;
    opacity:100%;
    float: right;
}
.image2{
    float: right;
    padding-right:30px;
    text-align: left;
    margin-left: 20px;
    padding-top:20px;
}
.description{
    font-family: "lores-12";
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 500px;
    margin-left: 100px;
    margin-top: -50px;
    padding:20px;
    border:#ff5b5b;
    border-style:dashed;
    border-radius: 40px;
    inline-size: 300px;
    border-width:10px ;
    overflow-wrap: break-word;
    opacity:100%;
    float: left;
}
.image3{
    float: right;
    padding-right:30px;
    text-align: left;
    margin-left: 0px;
    margin-top:-50px;
    border-width: 20px;
}
.image4{
    float: right;
    padding-right:50px;
    margin-left: 0px;
    margin-top:-50px;
    border-width: 20px;
}
.deep_dive{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 500px;
    margin-right: 30px;
    margin-top: 20px;
    padding:40px;
    text-align:left;
    border:#ff5b5b;
    border-style: solid;
    border-radius: 30px;
    inline-size: 600px;
    border-width:10px ;
    overflow-wrap: break-word;
    opacity:100%;
    float: left;
}
.description2{
    font-family: "lores-12";
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 500px;
    margin-left: 100px;
    margin-top: -10px;
    padding:20px;
    border:#ff5b5b;
    border-style:dashed;
    border-radius: 40px;
    inline-size: 600px;
    border-width:10px ;
    overflow-wrap: break-word;
    opacity:100%;
    float: right;
}
.image5{
    float: left;
    padding-right:50px;
    margin-left: 0px;
    margin-top:40px;
    border-width: 20px;
}
.image6{
    float: left;
    padding-right:50px;
    margin-left: 0px;
    margin-top:30px;
    border-width: 20px;
}
.image7{
    float: left;
    padding-right:50px;
    margin-left: 0px;
    margin-top:-130px;
    border-width: 20px;
}
.description3{
    font-family: "lores-12";
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-weight: 500px;
    margin-left: 10px;
    margin-top: 50px;
    padding:20px;
    border:#ff5b5b;
    border-style:dashed;
    border-radius: 40px;
    inline-size: 300px;
    border-width:10px ;
    overflow-wrap: break-word;
    opacity:100%;
    float: left;
}
.final{
    font-family: "lores-12";
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-weight: 500px;
    margin-right: 30px;
    margin-top: -450px;
    padding:20px;
    border:#ff5b5b;
    border-style:groove;
    border-radius: 40px;
    inline-size: 400px;
    border-width:10px ;
    overflow-wrap: break-word;
    opacity:100%;
    float: right;
}
.container{
    align-items: center;
    justify-content: center;
    animation: fadeIn 5s;
}
@keyframes fadeIn{
    0% {opacity:0;}
    100%{opacity:1;}
}