html{
    scroll-behavior: smooth;
}

body{
background-color: #ceceff;
background-image:  linear-gradient(#ff4444 0.4px, transparent 0.4px), linear-gradient(to right, #ff4444 0.4px, #ceceff 0.4px);
background-size: 8px 8px;
}

h1{
    justify-content: center;
    font-family: "lores-12";
    font-weight: 700;
    font-style: normal;
    font-size: 6rem;
    color: #ff4242;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:20px;
    width: 100%;
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 2rem;
    }
  }
  .title{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(190, 255, 168); /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    white-space: nowrap;

animation: 
typing 3.5s steps(30, end);
blink-caret .5s step-end infinite;

}
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(190, 255, 168) }
  }
/*to create blinking banner button */

  .blinkbtn{
    margin-top:20px;
    width: 1490px;
    height: 15px;
    border-style:dashed;
    border-width:2px;
    border-color: black;
    font-family:"lores-12";
    font-size: 12px;
    color:black;
    text-align: center;
    animation: blink .5s infinite;
    cursor:pointer;
  }
  @keyframes blink{
    0% {background:#ff4242}
    100% {background: #ffa3f7;}
  }

  /*container for generating prompt*/
  .container{
    width: 1490px;
    height:500px;
    text-align:center;
    background-color:rgb(255, 255, 255);
    display:none;
  }

  .header{
    padding-top: 50px;
    font-family: "lores-12";
    font-size: 3rem;
    font-weight:600;
  }
  @media (max-width: 500px) {
    .header {
      font-size: 2rem;
    }
  }

  .box{
    width:700px;
    height: 200px;
    border: 2px dashed black;
    border-radius: 10px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
  }
  @media (max-width: 500px) {
    .box {
      width: 80%;
    }
  }
  .generatebtn{
    padding: 10px;
    background-color:#ff4242;
    font-family: "lores-12";
    font-size: 15px;
    color:black;
    margin-top: 20px;
    cursor: pointer;
  }

  .generatebtn:hover{
    background-color: #ffa3f7;
  }

  #prompt{
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight:300;
    color: black;
    margin-top: 80px;
    margin-left:auto;
    margin-right:auto;
    inline-size:500px;
  }
  @media (max-width: 500px) {
    #prompt {
      inline-size: 250px;
      margin-top:70px;
    }
  }

  /*image popup*/
  .dialogue{
    scale:35%;
    position:relative;
    margin-left:650px;
    margin-top:-350px;
    display:none;
    animation: zoom .5s infinite;
  }
  @keyframes zoom {
    0% {transform: scale(100%);}
    50% {transform: scale(99%);}
    100% {transform: scale(100%);}
  }
  @media (max-width: 500px) {
    .dialogue {
      scale: 30%;
      margin-left: -40px;
    }
  }

  /*tools*/
  .tools{
    scale:35%;
    position:relative;
    margin-left:-550px;
    margin-top:-500px;
    display:none;
    animation: zoom .5s infinite;
}
@keyframes zoom {
  0% {transform: scale(100%);}
  50% {transform: scale(99%);}
  100% {transform: scale(100%);}
}

@media (max-width: 500px) {
  .tools {
    scale: 30%;
    margin-left: -270px;
  }
}

.mic{
    scale:10%;
    background:none;
    border:none;
    position: absolute;
    margin-top: -1000px;
    display:none;
    animation: zoom2 .5s infinite;
}
@keyframes zoom2 {
    0% {transform: scale(100%);}
    50% {transform: scale(85%);}
    100% {transform: scale(100%);}
}

@media (max-width: 500px) {
  .mic {
    scale: 7%;
    margin-left: -470px;
  }
}
.notes{
    scale:20%;
    position:absolute;
    background:none;
    border:none;
    margin-top: -300px;
    margin-left: 600px;
    display:none;
    animation: zoom2 .5s infinite;
}
@keyframes zoom2 {
    0% {transform: scale(100%);}
    50% {transform: scale(85%);}
    100% {transform: scale(100%);}
}
@media (max-width: 500px) {
  .notes {
    scale: 13%;
    margin-left: -100px;
  }
}
/*voice recording functions*/

.voicerecordcontainer{
    text-align: center;
    display:none;
    margin-top: 50px;
    margin-left: 490px;
    position:absolute;
}
@media (max-width: 500px) {
  .voicerecordcontainer {
    margin-left: 35px;
    margin-top: 20px;
    scale: 80%;
  }
}
#startBtn{
    padding: 10px;
    background-color:#f6f6f6;
    font-family: "lores-12";
    font-size: 15px;
    color:black;
    margin-top: 20px;
    cursor: pointer;
  }

#startBtn:hover{
    background-color: #7cff94;
}

#stopBtn{
    padding: 10px;
    background-color:#ffffff;
    font-family: "lores-12";
    font-size: 15px;
    color:black;
    margin-top: 20px;
    cursor: pointer;
}

#stopBtn:hover{
    background-color: #ff5252;
}

#isRecording{
    font-family: "lores-12";
    font-size: 15px;
    color:black;
    padding:5px;
    margin-top:-10px;
}
#audioElement{
    display:none;
}
/*to create a notes app*/ 
.noteapp{
    margin-left:1020px;
}
.btn_add{
    padding: 10px;
    background-color:#ff4242;
    font-family: "lores-12";
    font-size: 15px;
    color:black;
    position:absolute;
    margin-top: 10px;
    cursor: pointer;
    display:none;
}
.btn_add:hover {
    background-color: #ffa3f7;
}
@media (max-width: 500px) {
  .noteapp {
    scale:80%;
    margin-left:320px;
    margin-top: -20px;
  }
}
.wrapper{
    margin-top:220px;
}

.note-wrapper {
    background: #fff;
    border:none;
    width: 410px;
    height: 250px;
    font-size: 15px;
}
  .note-wrapper .operations {
    background: none;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}
.note-wrapper .operations button {
    padding: 5px;
    background-color:#ff4242;
    font-family: "lores-12";
    font-size: 15px;
    color:black;
    margin-top: 5px;
    cursor: pointer;
}
.note-wrapper .operations button:hover {
    background-color: #ffa3f7;
}
.note-wrapper textarea {
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    width: 99%;
    height: 350px;
    resize: none;
    border: none;
  }
  @media (max-width: 500px) {
    .note-wrapper .operations button{
      scale:80%;
      margin-top: 30px;
    }
  }
  .main {
    padding: 20px;
  }
  .hidden {
    display: none;
  }
  .home{
    background:#e60054;
    border:dotted;
    font-family:"lores-12"
}