html{
    scroll-behavior: smooth;
}

body{
    background-color: #ffffff;
    opacity: 1;
    background-image:  linear-gradient(#ffc6c6 0.7000000000000001px, transparent 0.7000000000000001px), linear-gradient(to right, #ffc6c6 0.7000000000000001px, #ffffff 0.7000000000000001px);
    background-size: 14px 14px;
}
h1{
  justify-content: center;
  font-family: "lores-12";
  font-weight: 700;
  font-style: normal;
  font-size: 90px;
  color: #ff9494;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left:20px;
  width: 100%;
}
.title{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(190, 255, 168); /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    white-space: nowrap;

animation: 
typing 3.5s steps(30, end);
blink-caret .5s step-end infinite;

}
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(190, 255, 168) }
  }

  .box{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 120%;
  }

  .music{
    position: absolute;
    font-family:"lores-12";
    font-size:20px;
    color:black;
    /*Overflow: hidden;*/
  }

  .header{
    display:inline-flex;
    font-family:"lores-12";
    font-size:30px;
    padding-bottom: -10px;
    margin-top: -50px;
  }
  
  .track-image{
    margin-top: -40px;
  }

 #myBtn{
    background:none;
    height:120px;
    width:120px;
    position:relative;
    border:none;
    top:-200px;
    left: 100px;
  }
  .file{
    margin-top:-1000px;
   margin-left: -400px;
  }
  .popupwindow {
    z-index: 2;
    border: 3px dotted #ff9494;
    background-color:white;
    width: 500px;
    height: 500px;
    position: absolute;
    margin-top:-900px;
    margin-left:100px;
    display:none;
}
#myBtn {animation: zoom 0.5s infinite;}
@keyframes zoom {
   0% {transform: scale(100%);}
   50% {transform: scale(99%);}
   100% {transform: scale(100%);}
 }
#myBtn:hover {
animation-play-state: paused;
 }

.notes{
    font-family:"lores-12";
    font-size:40px;
    font-weight:100;
    color:black;
}
.popupwindow .window-bar {
    padding-left: 6px;
    padding-top: 3px;
    cursor: move;
    background-color: white;
}
.popupwindow-body .text{
    font-family:"lores-12";
    font-size:20px;
    color:black;
    position:relative;
    margin-top:-50px;
}

.gif{
    position:relative;
    left:300px;
    top:-10px;
}

.popupwindow .window-bar .popupwindow-close {
    cursor: pointer;
    display:inline-block;
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: white;
    width: 14px;
    height: 14px;
    padding-left: 2px;
    padding-top: 2px;
}

.popupwindow-body {
    margin: 1em;
}

/* Range slider */
#duration-slider{
  width:100%;

}
/* Buttons */


.buttons {
  display:flex;
  justify-content:center;
  align-items:center;
}

.prev{
  .play {
    width: 4rem;
    height: 4rem;
    border-radius: 10%;
    color: var(--white);
    padding:5px;
  }
}
.play {
  width: 4rem;
  height: 4rem;
  border-radius: 10%;
  color: var(--white);
  padding:5px;
}

.play-all {
  display: block;
  margin: 0 auto;
  padding: 3px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.volume input[type="range"] {
  margin: 0;
}

/* Volume */
.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 1rem 0;
}
.volume p {
  color: var(--white);
  font-size: 1.4rem;
  height: 2rem;
  padding: 0 3px;
  margin-right: 8px;
}

.volume i {
  background: var(--color-sec);
  color: var(--white);
  font-size: 1.2rem;
  height: 2rem;
  padding: 0 3px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*notes app */
/*.noteicon{
position:relative;
background:none;
border:none;
margin-top:-900px;
margin-left:600px;

}
.noteicon {animation: zoom 0.5s infinite;}
@keyframes zoom {
   0% {transform: scale(100%);}
   50% {transform: scale(99%);}
   100% {transform: scale(100%);}
 }
.noticon:hover {
animation-play-state: paused;
 }*/

.input-box{
  position:relative;
  margin-top:-300px;
  margin-left:30px;
  width:100%;
  max-width:1370px;
  min-height: 200px;
  max-height:1000px;
  background:#ffffff;
  padding: 20px;
  border-style:dotted;
  border-width:2px;
}
.input-box img{
  position:absolute;
  width:25px;
  bottom:10px;
  right:10px;
  cursor:pointer;
}

.dialogue{
  position:absolute;
  margin-top:-900px;
  margin-left:1000px;
}
.dialogue{animation: zoom 0.5s infinite;}
@keyframes zoom {
   0% {transform: scale(100%);}
   50% {transform: scale(99%);}
   100% {transform: scale(100%);}
 }
.dialogue:hover {
animation-play-state: paused;
 }


 .resources{
  position:absolute;
  margin-top:-500px;
  margin-left:10px;
padding-right:-700px;

}
.resources{animation: zoom 0.5s infinite;}
@keyframes zoom {
   0% {transform: scale(100%);}
   50% {transform: scale(99%);}
   100% {transform: scale(100%);}
 }
.resources:hover {
animation-play-state: paused;
 }
