html{
    scroll-behavior: smooth;
}

body{
    background-color: #ffffff;
    opacity: 1;
    background-image:  linear-gradient(#ffc6c6 0.7000000000000001px, transparent 0.7000000000000001px), linear-gradient(to right, #ffc6c6 0.7000000000000001px, #ffffff 0.7000000000000001px);
    background-size: 14px 14px;
}
h1{
  justify-content: center;
  font-family: "lores-12";
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  color: #ff9494;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left:20px;
  width: 100%;
}
@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
}
.title{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(190, 255, 168); /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    white-space: nowrap;

animation: 
typing 3.5s steps(30, end);
blink-caret 0.5s step-end infinite;

}
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(190, 255, 168) }
  }

  .box{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 120%;
  }
  @media (max-width: 500px) {
    .box {
      height: 20%;
      max-width: 100%;
    }
  }
  .music{
    position: absolute;
    font-family:"lores-12";
    font-size:20px;
    color:black;
    /*Overflow: hidden;*/
  }

  .header{
    display:inline-flex;
    font-family:"lores-12";
    font-size:30px;
    padding-bottom: -10px;
    margin-top: 400px;
    margin-left:10px;
  }
  @media (max-width: 500px) {
    .header {
      font-size: 20px;
      margin-top: 500px;
    }
  }
  
  .track-image{
    margin-top: -40px;
  }
  @media (max-width: 500px) {
    .track-image {
      width: 20%;
      margin-top: -10px;
    }
  }
  @media (max-width: 500px) {
    .music-title {
      font-size:15px;
      margin-top: 5px;
    }
  }
  
/*pop up */
 #myBtn{
    background:none;
    height:120px;
    width:120px;
    position:relative;
    border:none;
    top:100px;
    left: -300px;
  }
  .file{
    margin-top:-1000px;
   margin-left: -400px;
  }
  .popupwindow {
    z-index: 2;
    border: 3px dotted #ff9494;
    background-color:white;
    width: 500px;
    height: 500px;
    position: absolute;
    margin-top:-500px;
    margin-left:190px;
    display:none;
}
#myBtn {animation: zoom 0.5s infinite;}
@keyframes zoom {
   0% {transform: scale(100%);}
   50% {transform: scale(99%);}
   100% {transform: scale(100%);}
 }
#myBtn:hover {
animation-play-state: paused;
 }

.popupwindow .window-bar {
    padding-left: 6px;
    padding-top: 3px;
    cursor: move;
    background-color: white;
}
.popupwindow-body .text{
    font-family:"lores-12";
    font-size:20px;
    color:black;
    position:relative;
    margin-top:-50px;
}

.gif{
    position:relative;
    left:300px;
    top:-10px;
}

.popupwindow .window-bar .popupwindow-close {
    cursor: pointer;
    display:inline-block;
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: white;
    width: 14px;
    height: 14px;
    padding-left: 2px;
    padding-top: 2px;
}

.popupwindow-body {
    margin: 1em;
}

/*to customize the audio look*/
audio::-webkit-media-controls-panel {
  background-color: #ff9f9f;
  border-radius: 2px;
}
@media (max-width: 500px) {
  audio {
    scale: 50%;
  }
}

/*notes app */
.noteapp {
  scale:80%;
  margin-left:320px;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .noteapp {
    scale: 50%;
  }
}
.btn_add{
  padding: 10px;
  background-color:#ff9f9f;
  font-family: "lores-12";
  font-size: 18px;
  color:black;
  position:absolute;
  margin-top: -500px;
  margin-left: 150px;
  inline-size: 100px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .btn_add {
    scale: 100%;
    margin-left: 20px;
    margin-top: -900px;
  }
}
.btn_add:hover {
  background-color: #ffffff;
}
.wrapper{
  margin-top:100px;
}
.note-wrapper {
  background: #fff;
  border:none;
  width: 410px;
  height: 250px;
  font-size: 15px;
}
.note-wrapper .operations {
  background: none;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  margin-top: 100px;
}
.note-wrapper .operations button {
  padding: 5px;
  background-color:#ffffff;
  font-family: "lores-12";
  font-size: 15px;
  color:black;
  margin-top: 5px;
  cursor: pointer;
}
.note-wrapper .operations button:hover {
  background-color: #ff9f9f;
}
.note-wrapper textarea {
  outline: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  width: 99%;
  height: 350px;
  resize: none;
  border: none;
}
@media (max-width: 500px) {
  .note-wrapper .operations button{
    scale:80%;
    margin-top: 30px;
  }
}
.main {
  padding: 20px;
}
.hidden {
  display: none;
}

/*dialogue boxes*/
.dialogue{
  margin-top:-1200px;
  margin-left: 650px;
}

 @media (max-width: 500px) {
  .dialogue {
    width:90%;
    margin-left: 200px;
  }
}
 .resources{
  position:absolute;
  margin-top:-350px;
  margin-left:-350px;

}
.resources{animation: zoom 0.5s infinite;}
@keyframes zoom {
   0% {transform: scale(100%);}
   50% {transform: scale(99%);}
   100% {transform: scale(100%);}
 }
.resources:hover {
animation-play-state: paused;
 }
 @media (max-width: 500px) {
  .resources {
    width:90%;
    margin-left: -100px;
    margin-top: -150px;
  }
}
.home{
  background:#ff77a9;
  border:dotted;
  font-family:"lores-12"
}