body {
    background: #ffffff;
}
.one{
    border:none;
    background-color:transparent; 
}
.two{
    border:none;
    background-color:transparent; 
}
.three{
    border:none;
    background-color:transparent; 
}

.four {
    border:none;
    background-color:transparent;
    }
.five {
    border:none;
    background-color:transparent;
 }