body {
    background: #010101;
    align-items: center;
}

.folder1 {
    border:none;
    background-color:transparent;
    }
.folder2 {
    border:none;
    background-color:transparent;
 }
.folder3 {
    border:none;
    background-color:transparent;
}
.folder4 {
    border:none;
    background-color:transparent;
}
.folder5{
    border:none;
    background-color:transparent;
}