body{

    justify-content: center;
    background-color: #000000;
    opacity: 1;
    background-image:  linear-gradient(#545454 0.6000000000000001px, transparent 0.6000000000000001px), linear-gradient(to right, #545454 0.6000000000000001px, #000000 0.6000000000000001px);
    background-size: 12px 12px;
}
h1{
    font-family: "lores-12";
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    color: rgb(255, 200, 35);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:20px
}

.title{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    white-space: nowrap;

animation: 
typing 3.5s steps(30, end),
blink-caret .5s step-end infinite;

}
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

  .home{
    background:#ffc60a;
    border:dotted;
    font-family:"lores-12"
}
p{
    font-family:'Courier New', Courier, monospace;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    color: white;
    margin-top: 40px;
}

h2{
    font-family: "lores-12";
    font-weight: 200;
    font-style: normal;
    font-size: 70px;
    color: white;
    margin-bottom: 50px;
    margin-top:50px;
}
.content{
    animation: fadeIn 5s;
}
@keyframes fadeIn{
    0% {opacity:0;}
    100%{opacity:1;}
}

/*referred to https://youtu.be/N5M_A-HrpU4?si=ko-NyIOtinppcqPg for the popup! */
a.popuptext{
    position: relative;
    z-index:20;
    color:#ffffff
}

a.popuptext:hover{
    z-index:30;
}
a.popuptext span.showDisplayOnHover{
    display:none
}

a.popuptext:hover span.showDisplayOnHover{
    display: block;
    position:absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    line: height 50px;
    top:50px;
    Left: 50px;
    width: auto;
    padding:100px;
    border: none;
    border-radius:20px;
 background-color: #ffbf00;
 opacity:90%;
 color:#ffffff;
 text-align: center;
}
.typewriter{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    white-space: nowrap;

animation: 
typing 3.5s steps(30, end),
blink-caret .5s step-end infinite;

}
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

  @media (max-width: 650px) {
    h1 {
      font-size: 2rem;
    }
    p{
        font-size: 1rem;  
    }
    .image{
        scale: 60%;
        margin-left: -80px;
    }
    .showDisplayOnHover{
        scale:40%;
        margin-left: -350px;
    }
}

